// This import applies a global reset to any page that imports this stylesheet.
@import blueprint/reset.sass
// To configure blueprint, edit the partials/base.sass file.
@import partials/base.sass
@import partials/mixins.sass
// Import all the default blueprint modules so that we can access their mixins.
@import blueprint
// Import the non-default scaffolding module.
@import blueprint/modules/scaffolding.sass

// To generate css equivalent to the blueprint css but with your configuration applied, uncomment:
+blueprint

//Recommended Blueprint configuration with scoping and semantic layout:
//+blueprint-typography("body.bp")
//+blueprint-scaffolding("body.bp")
//body.bp
  +blueprint-utilities
  +blueprint-debug
  +blueprint-interaction
  // Remove the scaffolding when you're ready to start doing visual design.
  // Or leave it in if you're happy with how blueprint looks out-of-the-box

//Page layout can be done using mixins applied to your semantic classes and IDs:
body.two-col
  #container
    +container
    margin-top: 40px

  !alertPadding = 5px
  #alerts
    z-index: 100
    position: fixed
    top: 0px
    color: #333
    text-align: center
    width: 100%
    background-color: #ffff00
    border-bottom: 3px solid #ff9900
    font-size: 20px
    padding:
      :top = !alertPadding
      :bottom = !alertPadding

    a
      &:hover
        color: #888   
        

  #header, #footer
    +column(!blueprint_grid_columns)
    text-align: center

  #header
    margin:
      :top 20px
      :bottom 20px

    .sectionTitle
      +sectionTitleFont

    #logoWrapper
      text-align: right
      +column(!blueprint_grid_columns / 2 - 1)
      #logo
        width: 350px


    #schedule
      margin-top: 60px
      text-align: left
      font-size: 150%
      +column(!blueprint_grid_columns / 2 - 2, true)

      #eventsTitle
        margin-left: -40px
      
      .time
        font-weight: bold
        color: #445490


  #sidebar
    // One third of the grid columns, rounding down. With 24 cols, this is 8.
    !sidebar_columns = 4
    +column(!sidebar_columns)
      
  #content
    // Two thirds of the grid columns, rounding up.
    // With 24 cols, this is 16.
    !content_columns = 24
    // true means it's the last column in the row
    +column(!content_columns, true)

    #sponsors
      text-align: center
      +column(!blueprint_grid_columns / 2)
      &:hover
        background-color: #ddd

      a
        text-decoration: none

    #courses
      text-align: center
      +column(!blueprint_grid_columns / 2, true)
      &:hover
        background-color: #ddd

      a
        text-decoration: none

      img
        padding: 2px
        &:hover
          padding: 0px
          border: black 2px solid

      .courseLabel
        margin:
          :bottom -1px

    .sectionTitle
      +sectionTitleFont
      color: black

    .elevationProfile
      width: 100%
      height: auto

    .courseMap
      width: auto
      height: 300px

    .sponsor
      .sponsorLogo
        max-width: 150px
        margin: 10px

  #footer
    +column(!blueprint_grid_columns)
    text-align: center
    margin:
      top: 20px
      bottom: 20px

#sponsorsPageContent
  #longDescriptions
    border-right: black 1px solid
    padding:
      :right 23px
    margin:
      :top 10px
    float: left
    width: 75%
    .sponsor
      .sponsorLogo
        max-width: 150px
        float: left
        margin-top: 30px

      .sponsorTitle
        font-size: 30px
        float: right
        margin-top: 90px
        margin-bottom: -40px

      .sponsorDescription
        clear: both

  #soloLogos
    float: right
    margin-top: 30px
    .sponsorLogo
      max-height: 100px
    a
      display: block

#coursesPageContent
  .courseLabel
    font-size: 40px
    margin-top: 30px
  .course
    text-align: center
    a
      //display: block
      font-size: 15px
