#coursesPageContent
  #roadRace
    .courseLabel Road Race
    .elevationWrapper
      %img.elevationProfile{ :src => "images/roadcourse_elevation.jpg" }
    .courseMapWrapper
      %img.courseMap{ :src => "images/rr_map.png" }
      %a{ :href => "http://www.mapmyride.com/ride/united-states/wi/blue-mounds/115125606735557005", :target => "_blank" } MapMyRide Course Map
  #crit
    .courseLabel Criterium
    .elevationWrapper
      %img.elevationProfile{ :src => "images/capital_elevation.jpg" }
    .courseMapWrapper
      %img.courseMap{ :src => "images/crit_map.png" }
  #timeTrial
    .courseLabel Team Time Trial
    .elevationWrapper
      %img.elevationProfile{ :src => "images/TT_elevation.jpg" }
    .courseMapWrapper
      %img.courseMap{ :src => "images/ttt_map.png" }
