%img.elevationProfile{ :src => "images/roadcourse_elevation.jpg" }
%a.sidebarLink{ :href => "http://www.mapmyride.com/ride/united-states/wi/blue-mounds/115125606735557005", :target => "_blank" } MapMyRide Course Map
%img.elevationProfile{ :src => "images/capital_elevation.jpg" }
%img.elevationProfile{ :src => "images/TT_elevation.jpg" }
