.course
  %h3.courseLabel Road Race
  %img.courseMap{ :src => "images/rr_map.png" }
  %img.elevationProfile{ :src => "images/roadcourse_elevation.jpg" }
  %a.sidebarLink{ :href => "http://www.mapmyride.com/ride/united-states/wi/blue-mounds/115125606735557005", :target => "_blank" } MapMyRide Course Map
.course
  %h3.courseLabel Criterium
  %img.courseMap{ :src => "images/crit_map.png" }
  %img.elevationProfile{ :src => "images/capital_elevation.jpg" }
.course
  %h3.courseLabel Team Time Trial
  %img.courseMap{ :src => "images/ttt_map.png" }
  %img.elevationProfile{ :src => "images/TT_elevation.jpg" }
