#coursesPageContent
  .course
    .courseLabel Criterium
    %p
      %a{ :href => "http://www.mapmyride.com/route/us/wi/madison/798126961096698474", :target=>"_blank" } View on MapMyRide
    .elevationWrapper
      %img.elevationProfile{ :src => "images/capital_elevation.jpg" }
    .courseMapWrapper
      %img.courseMap{ :src => "images/crit_map.png" }
