#header
  #logoWrapper
    %img#logo{ :src => "images/logo.png" }

  #schedule.push-3
    #eventsTitle.sectionTitle Schedule of Events
    %dl
      %dt
        Friday, May 7th: Road Race
        %dd.level1
          7am-12pm Packet pickup only
          %dd.level2
            (Blue Mound State Park)
        %dd.level1
          8:30am Men's Division 1
          %dd.level2
            == ~ 73 miles
        %dd.level1
          8:40am Men's Division 2
          %dd.level2
            == ~ 73 miles
        %dd.level1
          1:00pm Women's Division 1
          %dd.level2
            == ~ 59 miles
        %dd.level1
          1:10pm Women's Division 2
          %dd.level2
            == ~ 59 miles
        %dd.level1
          6-8pm Registration and packet pickup
          %dd.level2
            (Madison Concourse Hotel)
        %dd.level1
          8-9:30pm Open Collegiate Board Meeting
          %dd.level2
            (Madison Concourse Hotel)
      %dt
        Saturday, May 8th: Critierium
        %dd.level1
          3:00pm Women's Division 2
        %dd.level1
          4:00pm Women's Division 1
        %dd.level1
          5:00pm Men's Division 2
        %dd.level1
          6:30pm Men's Division 1
      %dt
        Sunday, May 9th: Team Time Trial
        %dd.level1
          8:30am Start Time

#content
  #sponsors
    %a{ :href => "sponsors.html" }
      .sectionTitle Sponsors &amp; Affiliates
      .sponsor
        %img.sponsorLogo{ :src => "images/trek.jpg" } 
        %img.sponsorLogo{ :src => "images/concourse.png" }
      .sponsor
        %img.sponsorLogo{ :src => "images/USACHeaderLogo.jpg" }
        %img.sponsorLogo{ :src => "images/motionW.gif" }
      .sponsor
        %img.sponsorLogo{ :src => "images/planetbike.jpg" }
        %img.sponsorLogo{ :src => "images/uwhealth.png" }
      .sponsor
        %img.sponsorLogo{ :src => "images/baird.gif" }
        %img.sponsorLogo{ :src => "images/ConventionLogo2.jpg"}

  #courses
    %a{ :href => "courses.html" }
      .sectionTitle Courses
      %a.course{ :href => "roadrace.html" }
        %h3.courseLabel Road Race
        %img.courseMap{ :src => "images/rr_map.png" }
      %a.course{ :href => "crit.html" }
        %h3.courseLabel Criterium
        %img.courseMap{ :src => "images/crit_map.png" }
      %a.course{ :href => "teamtimetrial.html" }
        %h3.courseLabel Team Time Trial
        %img.courseMap{ :src => "images/ttt_map.png" }
