#header
  #signup
    %a{ :href => "http://www.usacycling.org/events/2010/collegiateroad/" } >>> Register Here <<<
  #logoWrapper
    %img#logo{ :src => "images/logo.png" }

  #schedule.push-3
    #eventsTitle.sectionTitle Schedule of Events
    %dl
      %dt
        Friday, May 7th: Road Race
        %dd.level1
          %span.time 8:30am
          Men D1
        %dd.level1
          %span.time 8:40am
          Men D2
        %dd.level1
          %span.time 1:00pm
          Women D1
        %dd.level1
          %span.time 1:10pm
          Women D2
      %dt
        Saturday, May 8th: Critierium
        %dd.level1
          %span.time 3:00pm
          Women D2
        %dd.level1
          %span.time 4:00pm
          Women D1
        %dd.level1
          %span.time 5:00pm
          Men D2
        %dd.level1
          %span.time 6:15pm
          Men D1
      %dt
        Sunday, May 9th: Team Time Trial
        %dd.level1
          %span.time 9:30am
          @ two minute intervals: Women D2, Women D1, Men D2, Men D1

    #guide
      %a{ :href => "tech_guide.pdf" } Get the Full Guide to Nationals

#content
  #sponsors
    %a{ :href => "sponsors.html" }
      .sectionTitle Sponsors &amp; Affiliates
      .sponsor
        %img.sponsorLogo{ :src => "images/trek.jpg" } 
        %img.sponsorLogo{ :src => "images/concourse.png" }
      .sponsor
        %img.sponsorLogo{ :src => "images/USACHeaderLogo.jpg" }
        %img.sponsorLogo{ :src => "images/motionW.gif" }
      .sponsor
        %img.sponsorLogo{ :src => "images/planetbike.jpg" }
        %img.sponsorLogo{ :src => "images/uwhealth.png" }
      .sponsor
        %img.sponsorLogo{ :src => "images/baird.gif" }
        %img.sponsorLogo{ :src => "images/ConventionLogo2.jpg"}
      .sponsor
        %img.sponsorLogo{ :src => "images/clarion.gif"}

  #courses
    %a{ :href => "courses.html" }
      .sectionTitle Courses
      %a.course{ :href => "roadrace.html" }
        %h3.courseLabel Road Race
        %img.courseMap{ :src => "images/rr_map.png" }
      %a.course{ :href => "crit.html" }
        %h3.courseLabel Criterium
        %img.courseMap{ :src => "images/crit_map.png" }
      %a.course{ :href => "teamtimetrial.html" }
        %h3.courseLabel Team Time Trial
        %img.courseMap{ :src => "images/ttt_map.png" }
