#header
  #logoWrapper
    %img#logo{ :src => "images/logo.png" }

  #schedule.push-3
    #eventsTitle.sectionTitle Schedule of Events
    %dl
      %dt
        Friday, May 7th: Road Race
        %dd
          Women's Division 2 - 8:30 am
        %dd
          Women's Division 1 - 8:40 am
        %dd
          Men's Division 2 - 12:00 pm
        %dd
          Men's Division 1 - 12:10 pm
      %dt
        Saturday, May 8th: Critierium
        %dd
          Women's Division 2 - 3:00 pm
        %dd
          Women's Division 1 - 4:00 pm
        %dd
          Men's Division 2 - 5:00 pm
        %dd
          Men's Division 1 - 6:30 pm
      %dt
        Sunday, May 9th: Team Time Trial
        %dd
          Start Time - 8:30 am

#content
  #sponsors
    %a{ :href => "/sponsors.html" }
      .sectionTitle Sponsors &amp; Affiliates
      .sponsor
        %img.sponsorLogo{ :src => "images/trek.jpg" } 
        %img.sponsorLogo{ :src => "images/concourse.png" }
      .sponsor
        %img.sponsorLogo{ :src => "images/USACHeaderLogo.jpg" }
        %img.sponsorLogo{ :src => "images/motionW.gif" }
      .sponsor
        %img.sponsorLogo{ :src => "images/planetbike.jpg" }
        %img.sponsorLogo{ :src => "images/uwhealth.png" }

  #courses
    %a{ :href => "/courses.html" }
      .sectionTitle Courses
      .course
        %h3.courseLabel Road Race
        %img.courseMap{ :src => "images/rr_map.png" }
      .course
        %h3.courseLabel Criterium
        %img.courseMap{ :src => "images/crit_map.png" }
      .course
        %h3.courseLabel Team Time Trial
        %img.courseMap{ :src => "images/ttt_map.png" }
