!!!
%html
  %head
    %title Nationals
    %link{ :href => "stylesheets/screen.css", :media => "screen, projection", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "stylesheets/print.css", :media => "print", :rel => "stylesheet", :type => "text/css" }
    /[if lt IE 8]
      %link{ :href => "stylesheets/ie.css", :media => "screen, projection", :rel => "stylesheet", :type => "text/css" }
    %script{ :src => "javascripts/jquery-1.4.2.min.js", :type => "text/javascript" }
  %body.two-col
    #alerts
      %a{ :href => "http://www.clarionhotel.com/hotel-madison-wisconsin-WI103", :target => "_blank"  }
        Book your hotel here &amp; get a great deal for the nationals event.

    #container
      = yield
      #footer
        Brought to you by the UW Cycling Club

    :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-15446476-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
