#coursesPageContent
  .course
    .courseLabel Road Race
    %p
      %a{ :href => "http://www.mapmyride.com/ride/united-states/wi/blue-mounds/115125606735557005", :target => "_blank" } View on MapMyRide
    .elevationWrapper
      %img.elevationProfile{ :src => "images/roadcourse_elevation.jpg" }
    .courseMapWrapper
      %img.courseMap{ :src => "images/rr_map.png" }
