#coursesPageContent
  .course
    .courseLabel Team Time Trial
    %p
      %a{ :href => "http://www.mapmyride.com/ride/united-states/wi/waterloo/941125380480012208", :target => "_blank" } View on MapMyRide
    .elevationWrapper
      %img.elevationProfile{ :src => "images/TT_elevation.jpg" }
    .courseMapWrapper
      %img.courseMap{ :src => "images/ttt_map.png" }
